@model List<Client>
<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h1 class="text-primary">Clients list</h1>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Client" asp-action="Create" class="btn btn-primary">
				Create New Client
			</a>
		</div>
	</div>
</div>

<table class="table table-bordered table-striped">
	<tr>
		<th>
			Client Name
		</th>
		<th>
			Client Surname
		</th>
		<th>
			Client Email
		</th>
		<th>
			Client Phone
		</th>
		<th>
			Client Address
		</th>
	</tr>
	<tbody>
		@foreach(var obj in Model){
			<tr>
				<td>
					@obj.Name
				</td>
				<td>
					@obj.Surname
				</td>
				<td>
					@obj.Email
				</td>
				<td>
					@obj.Phone
				</td>
				<td>
					@obj.Address
				</td>
				<td>
					<div class="w-75 btn-group" role="group">
						<a asp-controller="Client" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Edit</a>
					</div>
					<div class="w-75 btn-group" role="group">
						<a asp-controller="Client" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-delete mx-2">Delete</a>
					</div>
				</td>
			</tr>
		}

	</tbody>
</table>
